.trainerProImg{
    object-fit: cover;

}

.trainerheroouter{
    
    background-image: url('../../assets/images/trainersTeam.png');
    color: orangered;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}