.courseheroouter{
    
    background-image: url('../../assets/images/cover6.jpg');
    color: orangered;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}